.fields  {
    font-weight:bold;
}
.institutions li {
    list-style-type:none;
}
.title {
    position: absolute;
    top:0;
    
}
.courses li {
    list-style-type:none;
}
.courses{
    padding-top:1rem;
}
